.card {
    width: 250px;
    height: 250px;
    display: flex;
    fLex-direction: column;
    justify-content: space-around;

}

label {
    width: max-content;
    color: red;
    font-size: 13px;
    border-bottom: .5px solid red;
    margin: 3px 0;
}

.desc{
    font-size: 14px;
}

.star{
    color: gold;
}

.username{
    font-size: 14px;
}

.date{
    font-size: 12px;
}

form{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

input{
    border: none;
    border-bottom: 1px solid gray;
}

input::placeholder, textarea::placeholder{
    font-size: 12px;
    color: rgb(172, 169, 169);
}

.submitButton{
   border: none;
   padding: 5px;
   border-radius: 5px;
   color: white;
   background-color: red;
   cursor: pointer;
}

.button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.logout{
    background-color: red;
}

.login{
    background-color: lightblue;
    margin-right: 12px;
}

.register{
    background-color: blue;
}

.buttons,.logout{
    position: absolute;
    top: 10px;
    right: 10px;
}



